@charset "UTF-8";
@import "fun";
@import "media";


$green: #093;
$red: #c33;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
}

.main-box{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 960px;
    margin: 0 auto;

    @include zsy(phone){
        width: 100%;
        padding: 20px;
    }
}
.layui-layer-hui{
    background-color: rgba(0, 0, 0, 0.8) !important;
}
header{
    width: 100%;
    text-align: center;

    h2,p{
        width: 100%;
        text-align: center;
    }
    p{
        margin: 5px 0;

        @include zsy(phone){
            font-size: 0.8em;
        }
    }
}

#food{
    font-size: 3em;
    margin: 10px 0;
}
.fooderarr-list{
    width: 100%;
}

ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li{
        cursor: pointer;
        padding: 10px 30px;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 5px;
        transition: all 300ms ease;

        @include zsy(phone){
            padding: 5px 15px;
        }

        &:hover{
            background-color: $red;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}

.active{
    transition: 0;
    background: $green;
    color: #fff;
}
.foodarr-list{
    margin: 60px 0;

    ul.foodUl{
        pointer-events: all;

        &.stop{
            pointer-events: none;
        }
    }
    @include zsy(phone){
        margin: 20px 0;
    }
}
.input{
    width: 100%;
    text-align: center;

    input {
        display: inline-block;
        width: 200px;
        height: 40px;
        margin: 20px auto 0 auto;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        background: $green;
        border: 1px solid #090;
        transition: all 300ms ease;
        color: #fff;

        &:active{
            transform: scale(0.92);
        }

        &.stop{
            color: #fff;
            background: $red;
            border: 1px solid #fff;
        }
    }
    small{
        display: block;
        width: 100%;
        margin-top: 10px;
        font-size: 0.8em;
        color: #888;
    }
}

.foodarr-add{
    width: 100%;
    text-align: center;

    input{
        border-radius: 5px;
        border: 1px solid #888;
        display: block;
        height: 40px;
        margin: 0 auto;
        line-height: 38px;
        text-align: center;
        outline: none;
    }
}

#addFoodInput{
    padding: 0 10px;
    width: 375px;
    pointer-events: all;

    @include zsy(phone){
        width: 80%;
    }

    &.stop{
        pointer-events: none;
    }
}
#addFood{
    transition: transform 300ms ease;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
    background: $green;
    color: #fff;
    border: 1px solid #090;
}
#addFood:active{
    transform: scale(0.92);
    background: $red;
}
#ok{
    color: #009933;
    margin: 20px 0;
}